@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Здравствуйте!</h1>
    <h2>Добро пожаловать на наш сайт!</h2>
    <h3>Получите возможность увидеть себя ВЕЗДЕ</h3>
    <img src="~/images/4ba28c00-af69-5e48-a213-60a6ff2816c9.jpeg"/>
</div>
