@{
    ViewData["Title"] = "Главная";
}
<h2>Добро пожаловать в рекламное агентство!</h2>
<p>Выберите свою роль в системе:</p>
<ul>
    <li><a href="/Client">Войти как клиент</a></li>
    <li><a href="/Manager">Войти как менеджер</a></li>
    <li><a href="/Admin">Войти как администратор</a></li>
</ul>